.dateCard {
	display: flex;
	flex-direction: row;
	margin: 10px 0;
	width: 20vw;
	justify-content: space-between;
	background-color: red;
}

.locationStripe {
	text-align: center;
	padding: 6px;
	font-weight: 700;
	font-size: 16px;
}

.userData {
	display: flex;
	flex-direction: column;
}

.map {
	width: 100vw;
	height: 100vh;
	background-color: red;
}

.text {
	position: fixed;
	z-index: 3;
	right: 20px;
	top: 20px;
	background-color: red;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	color: white;
	font-weight: 700;
	border: 3px solid white;
}

.slides {
	height: auto;
	z-index: 3;
	display: flex;
	flex-direction: row;
	padding: 10px;
	/*overflow-x: scroll;*/
	overflow: hidden;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.city {
	width: auto;
	white-space: nowrap;
	background-color: white;
	color: red;
	border-radius: 10px;
	border: 2px solid white;
	width: auto;
	height: auto;
	padding: 10px;
	margin: 0 10px;
}

.step, .selfharmStep {
	width: auto;
	white-space: nowrap;
	background-color: red;
	color: white;
	border-radius: 10px;
	border: 2px solid white;
	width: auto;
	height: auto;
	padding: 10px;
	margin: 0 10px;
}

.step:active {
	transform: scale(0.96);
}

.step:hover {
	transform: scale(1.04);
}

.selfharmStep {
	background-color: black;
	color: red;
}

.citySlides {
	height: auto;
	z-index: 3;
	display: flex;
	flex-direction: row;
	padding: 10px;
	/*overflow-x: scroll;*/
	overflow: hidden;
	position: fixed;
	bottom: 6vh;
	left: 0;
	right: 0;
}

.track {
	display: flex;
	flex-direction: row;
	gap: 12px;
	white-space: nowrap;
	animation: scroll-left 210s linear infinite;
	font-weight: 700;

}

.stepSelection {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 8vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	pointer-events: none;
}

.stepSelector {
	padding: 10px;
	border-radius: 20px;
	font-weight: 700;
	margin: 0 10px;
	pointer-events: auto;
	cursor: pointer;

}

.stepSelector:active {
	transform: scale(0.96);
	/*background-color: blue;*/
}

.expansion {
	background-color: red;
	color: white;
}

.compression {
	background-color: black;
	color: red;
}

.headLine {
	position: fixed;
	top: 8vh;
	left: 0;
	right: 0;
	font-size: 31px;
	font-weight: 700;
	height: 4vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: auto;
	color: black;
	pointer-events: none;
}

.timePanel {
	position: fixed;
	z-index: 3;
	left: 20px;
	top: 20px;
	/*background-color: red;*/
	text-align: center;
}

.independentDate {
	padding: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.inButton {
	width: auto;
	background-color: white;
	padding: 3px;
	margin-top: -15px;
}

.nextDate {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 10px 10px;
	justify-content: space-between;
	align-items: center;
	font-weight: 700;
	background-color: white;
	margin: 3px;
}

.dateRange {
	display: flex;
	flex-direction: column;
	height: auto;
	width: 100%;
	height: auto;
}

.clock {
	padding: 10px;
	font-weight: 700;
	font-size: 21px;
	background-color: red;
}

.cityStories {
	width: 20vw;
	height: 100vh;
	/*background-color: red;*/
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: white;
}

.cityImage {
	width: 100%;
}

.tabList {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
}

.tabSelector {
	font-size: 12px;
	background-color: white;
	padding: 3px;
	font-weight: 700;
	border-bottom: 2px solid red;
}

.tabSelector:hover {
	background-color: red;
	color: white;
}


.cityFlightInfo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	margin: 0px 10px;
	padding: 10px 0;
}

.flightCost {
	margin: 0 5px;
	height: 16vh;
	width: 30%;
	border-radius: 20px;
	padding: 10px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	font-size: 12px;
}

.currency {
	position: absolute;
	background-color: red;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	z-index: 3;
	
	font-size: 12px;
	font-weight: 700;
}

.currencyLeft {
	bottom: -20px;
	left: -10px;
}

.currencyRight {
	bottom: -20px;
	right: -10px;
}


.iconContainer {
	width: 60px;
	height: 60px;
	border: 3px solid red;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 0 10px 0;
}

.flightIcon {
	width: 80%;
	/*height: 4vw;*/
	padding: 10px 0;
	/*background-color: red;*/
}

.flightCost {
	height: auto;
}

.flightExpense {
	font-size: 21px;
	height: 4vh;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.statsTitle {
	margin: 0;
	padding: 5px 0;
	font-weight: 700;
}

.cityName {
	padding: 20px;
	font-weight: 700;
	font-size: 21px;
}

.activeCityTactics {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	margin: 20px 0;
}

.tacticLink, .negTacticLink {
	margin: 10px 0;
	padding: 10px;
	background-color: red;
	color: white;
	width: 90% !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	wrap: flex-wrap;
	font-weight: 700;

	/*Basic style*/
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);


	/*
	box-shadow: 0 2px 4px rgba(0,0,0,0.15), 0 6px 12px rgba(0,0,0,0.20);
  	transition: box-shadow 0.2s ease, transform 0.2s ease;
  	*/

	/* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); */ /*Basic style*/

	/* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12); */
}

.tacticLink:active, .negTacticLink:active {
	transform: scale(0.96);
}

.negTacticLink {
	background-color: black;
	color: red;
}

.userMobileLocation {
	display: none;
}

.topImport {
	background-color: red;
	margin: 10px 0;
	background-color: white;
	border: 1px solid red;
	width: 90%;
	text-align: center;
}

.importList {
	background-color: red;
	width: 90%;
}

.highlight {
	padding: 10px ;
	color: white;
	font-weight: 700;
	background-color: red;
}

.importCategory {
	background-color: red;
	margin: 10px 0;
	padding: 10px;
	background-color: white;
	text-align: center;
}






@media (min-width:431px) and (max-width: 1024px) {
	.timePanel {
		display: none;
	}

	.userMobileLocation {
		width: 100vw;
		height: auto;
		position: fixed;
		top: 0vh;
		text-align: center;
		padding: 5px 0;
		font-weight: 700;
		display: block;
	}

	.stepSelection {
		top: 20px;
	}
}

@media (max-width: 430px) {
	.timePanel {
		display: none;
	}

	.headLine {
		display: none;
	}

	.text {
		height: 60px;
		width: 60px;
		right: 10px;
		top: 30px;
	}

	.stepSelection {
		top: 20px;
		padding: 0 20px;
		display: flex;
		height: 80px;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}

	.stepSelector {
		border-radius: 0;
		height: 6vh;
		width: 30vw;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		font-size: 4vw;
	}

	.userMobileLocation {
		display: block;
		width: 100vw;
		height: auto;
		position: fixed;
		top: 0vh;
		text-align: center;
		padding: 5px 0;
		font-weight: 700;

	}

	.cityStories { 
		width: 90vw;
	}

	.cityFlightInfo {
		margin: 0;
		height: auto;
		padding: 0 10px;
	}

	.statsTitle {
		font-size: 10px;
	}

	.activeCityTactics { 
		display: flex;
		flex-direction: row;
		padding: 10px;
		overflow-x: auto;        /* horizontal scroll only */
		width: 90%;
		/* Firefox */
	    scrollbar-width: none;

	    /* IE / Edge (legacy) */
	    -ms-overflow-style: none;
	    align-items: center;
	    justify-content: flex-start;
	}

	/* Chrome, Safari, Opera */
	.activeCityTactics::-webkit-scrollbar {
	    display: none;
	}

	.tacticLink, .negTacticLink {
		margin: 0 3px;
		min-width: 40%;
		min-height: 90px;
		/*flex: 0 0 100px;  */
		text-align: center;
		font-size: 12px;
		padding: 10px;
	}

}

@keyframes scroll-left {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}


